@model FinderJobs.MVC.ViewModels.CadastroViewModel

@{
    ViewBag.Title = "Cadastro Empresa";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script>
    $(document).ready(function () {
        $("#Usuario_Login").val("");
        $("#Usuario_Senha").val("");
        if ($("#msgRetorno").html().length > 1) {
            $("#modalRetorno").modal();
        }

        $($("#rbPago").find('input:radio')).each(function () {
            $(this).bind("click", function () {
                if ($(this).attr('id') == "Usuario_Pago") {
                    $("#habilidadesPago").show();
                    $("#opcaoPaga").show();
                }
                else {
                    $("#habilidadesPago").hide();
                    $("#opcaoPaga").hide();
                }
            });
        });

        $("#btnCadEmpresa").click(function () {
            var valido = true;
            var regexEmail = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            nome = $("#Usuario_Nome").val();
            login = $("#Usuario_Login").val();
            senha = $("#Usuario_Senha").val();
            email = $("#Usuario_Email").val();
            rgCnpj = $("#Usuario_RgCnpj").val();
            cep = $("#Usuario_Cep").val();

            if (nome.length < 4 || nome.length > 40) {
                $("#msgEmpresaNome").html("Obrigatório");
                valido = false;
            }
            else
                $("#msgEmpresaNome").html("");

            if (login.length != 8) {
                $("#msgEmpresaLogin").html("Obrigatório, 8 caracteres");
                valido = false;
            }
            else
                $("#msgEmpresaLogin").html("");

            if (senha.length != 8) {
                $("#msgEmpresaSenha").html("Obrigatório, 8 caracteres");
                valido = false;
            }
            else
                $("#msgEmpresaSenha").html("");

            if (!regexEmail.test(email)) {
                $("#msgEmpresaEmail").html("Email inválido");
                valido = false;
            }
            else
                $("#msgEmpresaEmail").html("");

            if (rgCnpj.length < 6 || rgCnpj.length > 13) {
                $("#msgEmpresaRgCnpj").html("Obrigatório, somente números");
                valido = false;
            }
            else
                $("#msgEmpresaRgCnpj").html("");

            if (cep.length != 8 || !(/^[0-9]+$/.test(cep))) {
                $("#msgEmpresaCep").html("Obrigatório, 8 dígitos");
                valido = false;
            }
            else
                $("#msgEmpresaCep").html("");

            if (valido) {
                $("#cadastroEmpresa").submit();
            }
        });

    });
</script>

<div class="row">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("Cadastrar", "Acesso", FormMethod.Post, new { enctype = "multipart/form-data", id = "cadastroEmpresa" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 form-group">
                    Nome<br />
                    <input type="text" name="Usuario.Nome" id="Usuario_Nome" class="form-control" />
                    <span id="msgEmpresaNome" style="color:red"></span>
                </div>
                <div class="col-md-2 form-group">
                    Login <br />
                    <input type="text" name="Usuario.Login" id="Usuario_Login" class="form-control" />
                    <span id="msgEmpresaLogin" style="color:red"></span>
                </div>
                <div class="col-md-2 form-group">
                    Senha
                    <br />
                    <input type="password" name="Usuario.Senha" id="Usuario_Senha" class="form-control" />
                    <span id="msgEmpresaSenha" style="color:red"></span>
                    <div hidden>
                        @Html.TextBox("Usuario.Tipo", "Empresa");
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 form-group">
                    Email<br />
                    <input type="text" name="Usuario.Email" id="Usuario_Email" class="form-control" />
                    <span id="msgEmpresaEmail" style="color:red"></span>
                </div>
                <div class="col-md-2 form-group">
                    CNPJ<br />
                    <input type="text" name="Usuario.RgCnpj" id="Usuario_RgCnpj" class="form-control" />
                    <span id="msgEmpresaRgCnpj" style="color:red"></span>
                </div>
                <div class="col-md-2 form-group">
                    Cep<br />
                    <input type="text" name="Usuario.Cep" id="Usuario_Cep" class="form-control" />
                    <span id="msgEmpresaCep" style="color:red"></span>
                </div>
            </div>
        </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div id="rbPago" class="form-group col-lg-2">
                        <label>Gratuito: <input type="radio" value="false" id="Usuario_Gratis" name="Usuario.Pago" checked="checked"></label>
                        <label>Pago: <input type="radio" value="true" id="Usuario_Pago" name="Usuario.Pago"></label>
                    </div>
                    <div hidden id="opcaoPaga">
                        <div class="form-group col-lg-1">
                            <label>Valor: R$ 1.000,00</label>
                        </div>
                        <div class="form-group col-lg-2">
                            <label>Anônimo: @Html.CheckBox("Usuario.Anonimo", true)</label>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Anexar "Vaga": <input type="file" /> </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-lg-12">
                        <label> Preencha os campos abaixo com as habilidades que procura: </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">

                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="editor-field">
                            <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div hidden id="habilidadesPago">
                <div class="row">
                    <div class="col-md-10">

                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">

                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Usuario.Habilidades, new { @class = "form-control", placeholder = "Habilidade 34" })
                                @Html.ValidationMessageFor(model => model.Usuario.Habilidades)
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">

                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="editor-field">
                                <input type="text" name="Usuario.Habilidades" placeholder="Habilidade" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-lg-2">
                        <div class="">
                            <input class="btn btn-default" type="button" id="btnCadEmpresa" value="Cadastrar" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <div class="btn btn-default">
                            @Html.ActionLink("Voltar", "../Index.html")
                        </div>
                    </div>
                </div>
            </div>
    }
</div>

<div id="modalRetorno" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="text-center">
                <br />
                <p id="msgRetorno">@TempData["mensagem"]</p>
            </div>
            <div class="text-right" style="padding-right:7px; padding-bottom: 7px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
