
@{
    ViewBag.Title = "Finder Jobs";
    var UsuarioModel = (FinderJobs.MVC.ViewModels.UsuarioViewModel)TempData["Usuario"];
    TempData.Keep("Usuario");
}

<script>

    $(document).ready(function () {

        processarVagas();

        $("#incluirVaga").on("click", function () {
            $("#formCadastroVaga :text").val("");
            $("#modalCadVagas").modal();
        });

        $("#editarCadastro").on("click", function () {
            $("#modalEditarEmpresa").modal();
        });

        $($("#rbPago").find('input:radio')).each(function () {
            $(this).bind("click", function () {
                if ($(this).attr('id') == "Usuario_Pago") {
                    $("#habilidadesPago").show();
                    $("#opcaoPaga").show();
                }
                else {
                    $("#habilidadesPago").hide();
                    $("#opcaoPaga").hide();
                }
            });
        });
    });

    function processarVagas() {
        $('#myTable').DataTable().destroy();

        $('#myTable').dataTable({
            "ajax": '../Home/PesquisaEmpresaJson/@UsuarioModel.Id',
            "columns": [
                        {
                            "data": null,
                            "bSortable": false,
                            "mRender": function (data, type, full) {
                                return '<a class="btn btn-sm" href="javascript: editarVaga(' + full['IdVaga'] + ');"><span class="glyphicon glyphicon-edit"><span></a>';
                            }
                        },
                        { "data": "DataCadastro" },
                        { "data": "Descricao" },
                        { "data": "Cep" },
                        { "data": "Habilidades" },
                        { "data": "Candidato" },
                        { "data": "Distancia" },
                        { "data": "Aderencia" },
                        {
                            "data": null,
                            "bSortable": false,
                            "mRender": function (data, type, full) {
                                return '<a class="btn btn-sm" href="javascript: enviarEmail(' + full['IdCandidato'] + ');"><span class="glyphicon glyphicon-envelope"><span><span class="glyphicon glyphicon-share-alt"><span></a>';
                            }
                        }
            ],
            "language": {
                "emptyTable": "Não existem registros disponiveis",
                "info": "Exibindo _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Nenhum registro encontrado",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Exibindo _MENU_ registros",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "search": "Pesquisa:",
                "zeroRecords": "Nenhum resultado encontrado",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Ultimo",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ":Ativar ordenação ascendente",
                    "sortDescending": ":Ativar ordenação descendente"
                }
            }
        });
    }

    function OnAlterarEmpresa() {
        alert("Sucesso");
    }

    function cadastrarVaga(IdEmpresa) {

        var erro = 0;

        var descricao = $('#descricao').val();
        if (descricao.length < 3) {
            erro++;
            document.getElementById("msgDescricao").innerHTML = "obrigatório";
        }
        else {
            document.getElementById("msgDescricao").innerHTML = "";
        }

        if (erro === 0) {


            var Empresa = $('#empresa').val();
            var Descricao = $('#descricao').val();
            var Cep = $('#cep').val();
            var Habilidades = "";

            var inputs = $("input[id*='Habilidade']");
            for (var i = 0; i < inputs.length; i++) {
                Habilidades += inputs[i].value + ",";
            }

            var dados =
            {
                'IdEmpresa': IdEmpresa,
                'Empresa': '@UsuarioModel.Nome',
                'Descricao': Descricao,
                'Cep': '@UsuarioModel.Cep',
                'Habilidades': Habilidades
            };

            $.ajax({
                url: "../Vagas/CadastrarVagaJson",
                type: "post",
                data: JSON.stringify(dados),
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    alert("Cadastrado com sucesso!");
                    processarVagas();
                    $("#modalCadVagas").modal();
                },
                error: function (result) {
                    alert("Error");
                }
            });
        }
    }

    
    function editarVaga(idVaga) {
        alert("Editando vaga " + idVaga);
    }

    function enviarEmail(idCandidato) {
        alert("Enviando email para candidato " + idCandidato);
    }

</script>
<div class="row">
    <div class="">
        <section id="controles">
            <fieldset>
                <br />
                <br />
                <br />
                <table id="myTable" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Data de Cadastro</th>
                            <th>Descrição</th>
                            <th>Cep</th>
                            <th>Habilidades</th>
                            <th>Candidato</th>
                            <th>Distância</th>
                            <th>Aderência</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>

                <!-- Modal de cadastro vaga-->
                <div class="modal fade" id="modalCadVagas" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Cadastro de Vaga</h4>
                            </div>
                            <div class="modal-body">
                                <fieldset>
                                    <form id="formCadastroVaga">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <div>
                                                    <div class="col-md-4 form-group">
                                                        Descrição:<br />
                                                        <input type="text" id="descricao" class="form-control" required />
                                                        <span id="msgDescricao" style="color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="habilidades">
                                            <div class="col-md-12 form-group">
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade1" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade2" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade3" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade4" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade5" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade6" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade7" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade8" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade9" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade10" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade11" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade12" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade13" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade14" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" id="Habilidade15" placeholder="Habilidade" class="form-control" required />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div>
                                        <div>
                                            <br />
                                            <input class="btn btn-default" type="button" value="Cadastrar" onclick="cadastrarVaga(@UsuarioModel.Id)" /> <span id="mensagem" style="color:green"></span>
                                        </div>
                                    </div>
                                </fieldset>
                                <p id="007"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal editar cadastro empresa-->
                <div class="modal fade" id="modalEditarEmpresa" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Editar Cadastro</h4>
                            </div>
                            @using (Ajax.BeginForm("EditarUsuario", "Home",
                                                                            new AjaxOptions
                                                                            {
                                                                                HttpMethod = "POST",
                                                                                InsertionMode = InsertionMode.Replace,
                                                                                UpdateTargetId = "target",
                                                                                OnSuccess = "OnAlterarEmpresa"
                                                                            }, new { id = "formAlterarEmpresa" }))
                            {
                                <div class="modal-body">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="hidden" name="Id" value="@UsuarioModel.Id" />
                                                <div class="col-md-3 form-group">
                                                    Nome<br />
                                                    <input type="text" name="Nome" id="UsuarioModel_Nome" value="@UsuarioModel.Nome" class="form-control" />
                                                    <span id="msgUsuarioNome" style="color:red"></span>
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    Email<br />
                                                    <input type="text" name="Email" id="UsuarioModel_Email" value="@UsuarioModel.Email" class="form-control" />
                                                    <span id="msgUsuarioEmail" style="color:red"></span>
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    CNPJ<br />
                                                    <input type="text" name="RgCnpj" id="UsuarioModel_RgCnpj" value="@UsuarioModel.RgCnpj" class="form-control" />
                                                    <span id="msgUsuarioRgCnpj" style="color:red"></span>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    Cep<br />
                                                    <input type="text" name="Cep" id="UsuarioModel_Cep" value="@UsuarioModel.Cep" class="form-control" />
                                                    <span id="msgUsuarioCep" style="color:red"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="rbPago" class="form-group col-lg-4">
                                                    <label>Gratuito: <input type="radio" value="false" id="" name="" checked="checked"></label>
                                                    <label>Pago: <input type="radio" value="@UsuarioModel.Pago" id="Pago" name="Pago" checked="@UsuarioModel.Pago"></label>
                                                </div>
                                                <div hidden id="opcaoPaga">
                                                    <div class="form-group col-lg-2">
                                                        <label>Valor: R$ 1.000,00</label>
                                                    </div>
                                                    <div class="form-group col-lg-2">
                                                        <label>Anônimo: @Html.CheckBox("UsuarioModel.Anonimo", UsuarioModel.Anonimo)</label>
                                                    </div>
                                                    <div class="form-group col-lg-12">
                                                        <label>Anexar Arquivo: <input type="file" class="btn btn-primary" /> </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <br />
                                                <input class="btn btn-default" type="submit" value="Gravar" /> <span id="mensagem" style="color:green"></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <p id="msgAlteracaoUsuario"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </fieldset>
        </section>
    </div>
</div>
