<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FinderJobs Manager</title>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-switch.min.css" rel="stylesheet" />
    <!-- Notify CSS -->
    <link href="notify/notify.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        .glyphicon {
            font-size: 20px;
        }

        .cor-fj {
            color: #ed7c31;
        }

        img {
            position: fixed;
            top: 7px;
            left: 7px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                        <span class="glyphicon glyphicon-menu-hamburger cor-fj"></span>

                    </button>
                }
                <div style="padding: 4px;">
                    <a href="@Url.Action("Index", "Home")"><img src="http://finderjobs.com.br/images/logo-fj.jpg" height="70" style="border-radius: 90px;"></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="cor-fj">@Html.ActionLink("Usuários", "Index", "UsersAdmin")</li>
                        <li class="cor-fj">@Html.ActionLink("Privilégios", "Index", "RolesAdmin")</li>
                        <li class="cor-fj">@Html.ActionLink("Habilidades", "Index", "HabilidadesAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br /><br />
        @RenderBody()
        <footer>
            <p>&copy;FinderJobs 2014 - @DateTime.Now.Year</p>
        </footer>
    </div>

    <!-- jQuery -->
    <script src="jquery/jquery.min.js"></script>
    <!-- Notify JS -->
    <script src="notify/notify.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
